.story {
  height: 100vh;
  padding-bottom: 50px;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
  }
}
.story_section {
  display: flex;
  align-items: center;
}
.story_section_text {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #303030;
  width: 50%;
}
blockquote {
  font-family: "Karla", sans-serif;
  font-style: italic;
  font-size: 23px;
  color: #bababa;
  margin-left: 20px;
}

.story_img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 1500px) {
  .story {
    .wrapper {
      justify-content: space-around;
    }
  }
}
@media (max-width: 1200px) {
  .story {
    .wrapper {
      justify-content: space-around;
    }
  }
}
@media (max-width: 992px) {
  .story_section_text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .story_section {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .story {
    .wrapper {
      height: 100vh;
    }
  }
}
